body{
    background-color: black;
}
.rap{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-size:90px;
}
.photo{
    text-align: center;

}
.text{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-size:30px;
    margin-left: 45px ;
    margin-right:45px  ;
}
.Price{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-size:50px;
    margin-left: 45px ;
    margin-right:45px  ;


}
.p{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-size:30px;
    margin-left: 45px ;
    margin-right:45px  ;
}
.models{
    color: white;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    font-size:50px;
    margin-left: 45px ;
    margin-right:45px  ;
}

